[submodule "vim80/bundle/nerdtree"]
	path = vim80/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim80/bundle/minibufexpl.vim"]
	path = vim80/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vim80/bundle/syntastic"]
	path = vim80/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim80/bundle/supertab"]
	path = vim80/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim80/bundle/nerdcommenter"]
	path = vim80/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim80/bundle/ultisnips"]
	path = vim80/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim80/bundle/vim-colors-solarized"]
	path = vim80/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim80/bundle/vim-go"]
	path = vim80/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim80/bundle/vim-powerline"]
	path = vim80/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim80/bundle/taglist.vim"]
	path = vim80/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vim80/bundle/vim-snippets"]
	path = vim80/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
